@model DAL.Models.UserProfile

<!DOCTYPE html>
<html>
<head>
    <title>User Profile Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #333;
        }

        dl {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        dt {
            font-weight: bold;
            margin-bottom: 8px;
            color: #333;
        }

        dd {
            margin-bottom: 16px;
            color: #555;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
        }

        a {
            display: inline-block;
            padding: 10px 15px;
            background-color: #4caf50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            a:hover {
                background-color: #45a049;
            }

        h4 {
            color: #333;
        }
    </style>
</head>
<body>

    <h2>User Profile Detail</h2>

    @if (Model != null)
    {
        <dl>
            <dt>Profile Picture:</dt>
            <dd><img src="@Model.ProfilePicturePath" alt="Profile Picture" width="30" height="30" style="border-radius:50%"></dd>

            <dt>First Name:</dt>
            <dd>@Model.FirstName</dd>

            <dt>Last Name:</dt>
            <dd>@Model.LastName</dd>

            <dt>Address:</dt>
            <dd>@Model.Address</dd>

            <dt>Phone Number:</dt>
            <dd>@Model.Phone</dd>

            
        </dl>

        <a asp-action="UpdateUser" asp-route-userId="@Model.Id">Edit</a>
    }
    else
    {
        <h4>Details not found.</h4>
    }

</body>
</html>
